<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<h1>Welcome to my Beetle Hunt app!</h1>

<% if current_user %>
<%= link_to "See the Beetles", beetles_path %>
<% end %>





